@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');

body {
    background-color: rgb(20, 10, 20);
    color: white;
    margin: 0px;
    padding: 0px;
}

main {
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    text-align: center;
}

#start-text {
    display: none;
    font-family: "Sriracha", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    opacity: 75%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    margin: 0;
}

#start-text * {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mute-text {
    display: none;
    font-family: "Sriracha", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.75rem;
    opacity: 50%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    margin: 0;
}

#mute-text * {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-text {
    display: none;
    font-family: "Sriracha", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    opacity: 25%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    margin: 0;
}

#polyrhythm-canvas {
    height: 100%;
    width: 100%;
    display: block;
}

i {
    margin: 0 10px;
}